<%- include('../partials/header.ejs')%>
        <h1 class="header">Local Connections</h1>
        <div class="login">
            <div class="loginText">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/connections/newConnection">Add a Connection</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Login</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Register</a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/">Home</a> | 
            <a href="/connections">Connections</a>
        </div>
    </div>
    <div class="mainbody">
        <div class="text">
            <%if(connections.length > 0) {%>
                <h1>Select a connection to view</h1>
                <%types.forEach(type=>{%>
                    <h2><%= type%></h2>
                    <%connections.forEach(conn=>{%>
                       <% if(conn.type == type){ %>
                        • &nbsp; <a href = "connections/<%= conn.id%>"><%= conn.name%></a><br>
                       <% } %>
                    <% }); %>                      
                <% });
            } else {%>
                <p>There are no connections to display.</p>
            <%}%>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>

