<%- include('../partials/header.ejs')%>
        <h1 class="header"><%= connection.name%></h1>
        <div class="login">
            <div class="loginText">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="/connections/newConnection">Add a Connection</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Login</a>
                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
                <a>Register</a>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/">Home</a> | 
            <a href="/connections">Connections</a>
        </div>
    </div>
    <div class="mainbody">
        <div class="buttons">
            <form>
                <button type = "submit" formmethod = "GET" formaction = "/connections/<%= connection.id%>/edit" id="button">Update</button>
                <button type = "submit" formmethod = "POST" formaction = '/connections/<%= connection.id%>?_method=DELETE' id="button2">Delete</button>
            </form>
        </div>
        <div class="text">
            <img src="<%= connection.image%>" class="heroes" alt="Poster">
        </div>   
        <div class="heroesText">
            <h2>Description</h2>
            <p><%= connection.details%></p>
            <h3>Pricing:</h3>
            <p><%= connection.price%></p>
            <h3 class="location">Location:</h3>
            <p class="location"><%= connection.location%></p>
            <br>
            <h3 class="location">Date:</h3>
            <p class="location"><%= connection.date%></p>
        </div>
    </div>
<%- include('../partials/footer.ejs')%>