<%- include('partials/header.ejs')%>
    <h1 class="header">Edit Connection</h1>
    <div class="login">
            <div class="loginText">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="newConnection.ejs">Add a Connection</a>
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a>Login</a>
            &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
            <a>Register</a>
        </div>
    </div>
</div>
<div class="navbar">
    <div class="navText">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/">Home</a> | 
        <a href="connections.ejs">Connections</a>
    </div>
</div>
<div class="mainbody">
    <div class="text">
        <form method = "POST" action = "/connectin._id%>?_method=PUT">
        <table>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" id="name" name="name" value = "<%= connection.name%>" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="price">Price</label></td>
                <td><input type="number" id="price" name="price" value = "<%= connection.price%>" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="location" >Location</label></td>
                <td><input type="text" id="location" name="location" value = "<%= connection.location%>" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="date" >Date</label></td>
                <td><input type="date" id="date" name="date" value = "<%= connection.date%>" class = "fixed-width"></td>
            </tr>
            <tr>
                <td><label for="image" >Image URL</label></td>
                <td><input type="url" id="image" name="image" value = "<%= connection.image%>" class = "fixed-width"></td>
            </tr>
            <tr><td class = "align-top"><label for="content">Details</label></td>
                <td><textarea rows="5" id="details" name="details" class = "fixed-width"><%= connection.details%></textarea></td>
            </tr>
            <tr>
                <td colspan="2" class = "align-right"><button>Submit</button></td>
            </tr>
        </table>
    </form>
    </div>
</div>
<%- include('partials/footer.ejs')%>